:root {
  --bg-primary: #000;
  --bg-secondary: #fff;
  color: #fff;
  --hoover-primary: #a790ff;
  --hoover-secondary: #cab6ff;
  --hoover-scrollbar-color: #e7dcff;
}

// $bg-primary: var(--bg-primary);
// $bg-secondary: var(--bg-secondary);
// $hoover-primary: var(--hoover-primary);
// $hoover-secondary: var(--hoover-secondary);

