@forward './dark-mode-toggle.scss';
@forward './languages.scss';
@forward './header.scss';
@forward './footer.scss';
@forward './images.scss';
@forward './navbar.scss';
@forward './FF-contact-me.scss';
@forward './contact.scss';
@forward './paragraph.scss';
@forward './projects.scss';
@forward './section.scss';
@forward './resume-button.scss';
