header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 0% 2% 0%;
}

#right-menu-item {
  display: flex;
  width: auto;
  justify-content: flex-end;
  div {
    padding: 0% 0% 0% 16%;
  }
}

#toggle-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

#social-links {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#languages {
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar a {
  color: var(--bg-secondary)
}
