.dark {
  --shadow-i: drop-shadow(0px 8px 24px rgba(255, 255, 255, 0.4));
  --shadow-ni: drop-shadow(0px 8px 24px rgba(255, 255, 255, 0.3));
}

.light {
  --shadow-i: drop-shadow(0px 8px 24px rgba(0, 0, 0, 0.7));
  --shadow-ni: drop-shadow(0px 8px 24px rgba(0, 0, 0, 0.5));
}

@keyframes cube-keyframe {
  0% {
    transform: translateY(20px) rotate(30deg);
  }
  100% {
    transform: translateY(0px) rotate(70deg);
  }
}

@keyframes plane-keyframe {
  0% {
    transform: translateX(0px) translateY(0px);
  }
  100% {
    transform: translateX(14px) translateY(20px) rotate(10deg);
  }
}

@keyframes loupe-keyframe {
  0% {
    transform: translateX(0px) translateY(0px) rotate(110deg);
  }
  100% {
    transform: translateX(14px) translateY(20px);
  }
}

#loupe,
#plane {
  position: absolute;
}

#loupe,
#plane {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}

#loupe {
  height: 120px;
  top: 90%;
  right: 70%;
  animation: loupe-keyframe 6s infinite alternate ease-in-out;
  transition: 0.6s ease-in-out;
  filter: var(--shadow-ni);
}

#loupe:hover {
  height: 140px;
  transition: 0.6s ease-in-out;
  filter: var(--shadow-i);
}

#plane {
  height: 160px;
  top: 90%;
  right: 20%;
  animation: plane-keyframe 4s infinite alternate ease-in-out;
  transition: 0.7s ease-in-out;
  filter: var(--shadow-i);
}

#plane:hover {
  height: 120px;
  transition: 0.5s ease-in-out;
  filter: drop-shadow(0px 8px 24px rgba(255, 255, 255, 0.2));
  filter: var(--shadow-ni);
}
